.App {
  display: flex;
  height: 100vh;
  background-color: #6977F4;
}

.videocall-container{
  /* flex-grow: 1; */
  display: flex;
  flex-direction: column;
  padding: 2vh;
  padding-right: 1vh;
  width: 50%;
}

.gamification-container{
  display: flex;
  flex-direction: column;
  padding: 2vh;
  padding-left: 1vh;
  width: 50%;
  justify-content: center;
}

.videocall-collum {
  flex-grow: 1;
}

.gamification-chat {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  padding-top: 1vh;
  height: 62vh;
}

.gamification-ranking {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 1vh;
  height: 32vh;
  border-radius: 8px;
  overflow: auto;
}

.videocall {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  
}

.gamification-child{
  display: flex;
  flex-direction: column;
  /* height: 80vh; */
}